<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
<title>Index</title>
</head>
<body>
	<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
	<link rel="stylesheet"
		href="https://formden.com/static/cdn/bootstrap-iso.css" />

	<!-- Inline CSS based on choices in "Settings" tab -->
	<style>
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p,
	.bootstrap-iso form {
	font-family: Arial, Helvetica, sans-serif;
	color: black
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
	color: white !important;
}

.asteriskField {
	color: red;
}
</style>

	<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
	<div class="bootstrap-iso">
		<div class="container-fluid">
			<div class="row "><div class="pull-right"><a class="btn btn-secondary" href="/logout" role="button" th:text="#{application.logout}"></a></div></div>
			<div class="row">
				<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
					<h1 th:text="#{search.form.flight.headline}"></h1>
					<form action="#" th:action="@{/}" th:object="${searchData}" method="post"  >
						<div class="form-group ">
							<label class="control-label " for="origin" th:text="#{hr.jedvaj.flights.model.searchData.origin}"></label> 
							<br/>
							<label class="control-label asteriskField" for="origin" th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"></label> 
							<input
								class="form-control" id="origin" name="origin" type="text" th:field="*{origin}"/>
						</div>
						<div class="form-group ">
							<label class="control-label " for="destination" th:text="#{hr.jedvaj.flights.model.searchData.destination}"></label> 
							<br/>
							<label class="control-label asteriskField" for="destination" th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></label> 
							<input
								class="form-control" id="destination" name="destination" type="text"  th:field="*{destination}"/>
						</div>
						<div class="form-group ">
							<label class="control-label " for="departureDate" th:text="#{hr.jedvaj.flights.model.searchData.departureDate}"></label> 
							<br/>
							<label class="control-label asteriskField" for="departureDate" th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"></label> 
							<input
								class="form-control" id="departureDate" name="departureDate" th:field="*{departureDate}"
								placeholder="DD-MM-YYY" type="date" />
						</div>
						<div class="form-group ">
							<label class="control-label " for="returnDate" th:text="#{hr.jedvaj.flights.model.searchData.returnDate}" ></label> 
							<br/>
							<label class="control-label asteriskField" for="returnDate" th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}"></label> 
							<input
								class="form-control" id="returnDate" name="returnDate" th:field="*{returnDate}"
								placeholder="DD-MM-YYY" type="date" />
						</div>
						<div class="form-group ">
							<label class="control-label " for="adults" th:text="#{hr.jedvaj.flights.model.searchData.adults}"></label> 
							<br/>
							<label class="control-label asteriskField" for="adults" th:if="${#fields.hasErrors('adults')}" th:errors="*{adults}"></label> 
							<input
								class="form-control" id="adults" name="adults" type="number" th:field="*{adults}"/>
						</div>
						<div class="form-group ">
							<label class="control-label " for="children" th:text="#{hr.jedvaj.flights.model.searchData.children}"></label> 
							<br/>
							<label class="control-label asteriskField" for="children" th:if="${#fields.hasErrors('children')}" th:errors="*{children}"></label> 
							<input
								class="form-control" id="children" name="children" type="number" th:field="*{children}"/>
						</div>
						<div class="form-group ">
							<label class="control-label " for="infants" th:text="#{hr.jedvaj.flights.model.searchData.infants}" ></label> 
							<br/>
							<label class="control-label asteriskField" for="infants" th:if="${#fields.hasErrors('infants')}" th:errors="*{infants}"></label> 
							<input
								class="form-control" id="infants" name="infants" type="number" th:field="*{infants}"/>
						</div>
						<div class="form-group ">
							<label class="control-label " for="seniors" th:text="#{hr.jedvaj.flights.model.searchData.seniors}"></label> 
							<br/>
							<label class="control-label asteriskField" for="seniors" th:if="${#fields.hasErrors('seniors')}" th:errors="*{seniors}"></label> 
							<input
								class="form-control" id="seniors" name="seniors" type="number" th:field="*{seniors}"/>
						</div>
						<div class="form-group ">
							<label class="control-label " for="currency" th:text="#{hr.jedvaj.flights.model.searchData.currency}">  </label> 
							<select class="select form-control" id="currency" th:field="*{currency}"
								name="currency">
								<option value="USD" th:text="#{search.form.flight.currency.usd}"></option>
								<option value="EUR" th:text="#{search.form.flight.currency.eur}"></option>
								<option value="HRK" th:text="#{search.form.flight.currency.hrk}"></option>
							</select>
						</div>
						<div class="form-group">
							<div>
								<button class="btn btn-primary " name="submit" type="submit" th:text="#{search.form.flight.submit}"></button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
					<h1 th:text="#{table.flightOffers.headline}"></h1>
					<!--Table-->
					<table id="tablePreview" class="table table-striped table-hover">
						<!--Table head-->
						<thead>
							<tr>
								<th th:text="#{hr.jedvaj.flights.model.flightDataDTO.origin}"></th>
								<th th:text="#{hr.jedvaj.flights.model.flightDataDTO.destination}"></th>
								<th th:text="#{hr.jedvaj.flights.model.flightDataDTO.departureDate}"></th>
								<th th:text="#{hr.jedvaj.flights.model.flightDataDTO.returnDate}"></th>
								<th th:text="#{hr.jedvaj.flights.model.flightDataDTO.interchangesTo}"></th>
								<th th:text="#{hr.jedvaj.flights.model.flightDataDTO.interchangesFrom}"></th>
								<th th:text="#{hr.jedvaj.flights.model.flightDataDTO.passengersCount}"></th>
								<th th:text="#{hr.jedvaj.flights.model.flightDataDTO.currency}"></th>
								<th th:text="#{hr.jedvaj.flights.model.flightDataDTO.totalPrice}"></th>
							</tr>
						</thead>
						<!--Table head-->
						<!--Table body-->
						<tbody>
					      <tr th:each="flightData : ${flightDataList}">
					        <td th:text="${flightData.origin}"></td>
					        <td th:text="${flightData.destination}"></td>
					        <td th:text="${#temporals.format(flightData.departureDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
					        <td th:text="${#temporals.format(flightData.returnDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
					        <td th:text="${flightData.transfersOnGoingFlight}"></td>
					        <td th:text="${flightData.transfersOnReturnFlight}"></td>
					        <td th:text="${flightData.passengerCount}"></td>
					        <td th:text="${flightData.currency}"></td>
					        <td th:text="${#numbers.formatDecimal(flightData.totalPrice, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
					      </tr>
						</tbody>
						<!--Table body-->
					</table>
					<div th:if="${totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
    					
					<form action="#" th:action="@{/(size=${size}, page=${pageNumber-1})}" th:object="${searchData}" method="post"  >
						<input type="hidden" class="form-control" id="origin" name="origin" th:field="*{origin}"/>
						<input type="hidden" class="form-control" id="destination" name="destination" th:field="*{destination}"/>
						<input type="hidden" class="form-control" id="departureDate" name="departureDate" th:field="*{departureDate}"/>
						<input type="hidden" class="form-control" id="returnDate" name="returnDate" th:field="*{returnDate}"/>
						<input type="hidden" class="form-control" id="adults" name="adults" th:field="*{adults}"/>
						<input type="hidden" class="form-control" id="children" name="children"  th:field="*{children}"/>
						<input type="hidden" class="form-control" id="infants" name="infants"  th:field="*{infants}"/>
						<input type="hidden" class="form-control" id="seniors" name="seniors"  th:field="*{seniors}"/>
						<input type="hidden" class="form-control" id="currency" name="currency"  th:field="*{currency}"/>
						<button class="btn btn-primary " name="submit" type="submit" th:text=${pageNumber}></button>
					</form>
					
					</div>
					<span style="color:red" th:if="${amadeusClientError != null}"><b>Error while searching flights: <span class="border border-danger rounded" style="color:red"  th:text="${amadeusClientError}"> </span></b></span>
					<!--Table-->
				</div>
			</div>
		</div>
	</div>
</body>
</html>